/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}

.content {
  max-width: 1140px;
  margin: auto;
}

main {
  max-width: 950px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.top_change_0 {
  position: relative;
  height: 60px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* visibility: collapse; */
}
#logIn {
  display: flex;
  padding-left: 10px;
  text-align: center;
}
.top_change_0 i {
  position: relative;
  color: white;
}

.display_none {
  display: none;
}
.button_modified {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: black;
  border: none;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}
.button_modifier {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #fffef8;
  border: none;
  /* identical to box height */
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px 10px 10px;
}

#myBtn {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #fffef8;
  border: none;
  /* identical to box height */
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px 10px 10px;
}

.button_published {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: rgb(255, 255, 255);
  border: none;
  /* identical to box height */
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}
.button_modifier:hover {
  cursor: pointer;
  outline-color: #1d6154;
}

.button_modifier:active {
  background-color: none;
  cursor: pointer;
  outline-color: #1d6154;
}

#myBtn:hover {
  cursor: pointer;
  outline-color: #1d6154;
}

#myBtn:active {
  background-color: none;
  cursor: pointer;
  outline-color: #1d6154;
}
.button_published:hover {
  cursor: pointer;
  outline-color: #1d6154;
}

.button_published:active {
  background-color: none;
  cursor: pointer;
  outline-color: #1d6154;
}

.button_modified:hover {
  cursor: pointer;
}

.button_modified:active {
  background-color: none;
  cursor: pointer;
}
/* POUR LA MODALE */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  box-sizing: border-box;
  background-color: #fefefe;
  margin: auto;
  margin-top: 10%;
  width: 630px;
  /* height: 770px; */
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 25px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modalHeader {
  width: 100%;
  padding: 60px 0 46px 0;
}

.hidden {
  display: none;
}

.modalHeader p {
  text-align: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}
.modalHeader span {
  position: relative;
  justify-content: end;
}
.modal-content {
  padding: 0px 100px 47px 100px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 8px;
}
.figure {
  position: relative;

  object-fit: cover;
}
.figure img {
  width: 78px;
  height: 104px;
  object-fit: cover;
}
.texte-editer {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: black;
  padding: 4px;
  border-radius: 5px;
  color: white;
}

.move_icone {
  position: absolute;
  right: 28px;
  top: 5px;
  background-color: black;
  padding: 4px;
  border-radius: 5px;
  color: white;
  visibility: hidden;
}

figure:hover > .move_icone {
  visibility: visible;
}

.figure:hover,
.figure:focus {
  text-decoration: none;
  cursor: pointer;
}
.barre {
  width: 100%;
  border: 1px solid #b3b3b3;
  margin-top: 60px;
}

.errorMessage {
  color: red;
  padding-top: 10px;
  text-align: center;
}

form:valid #valider {
  background: #1d6154;
}

.add_photo {
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 9px 30px 9px 30px;
  margin-top: 35px;

  font-size: 16px;
  line-height: 19px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  gap: 10px;
  cursor: pointer;
  background-color: #1d6154;
  font-family: "Syne";
  font-style: normal;
  margin-left: 23%;
}
.remove_gallery {
  color: red;
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #d65353;
  margin-left: 30%;
  margin-top: 20px;
}

.modal-content.hidden > *:not(#modale_ajout_photo) {
  display: none;
}

/* .modal-content.page2_visible > * {
  display: none;
} */
#modale_ajout_photo p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}

#modale_ajout_photo {
  position: relative;
  padding-top: 60px;
}

#modale_ajout_photo svg {
  padding: 28px 0 21px 180px;
  /* display: none; */
  position: relative;
}
#modale_ajout_photo i {
  position: absolute;
  top: 30px;
  left: -72px;
}

#modale_ajout_photo .close {
  position: absolute;
  top: 16px;
  right: -72px;
}
/* ATTENTION A SUPPRIMER PAR LA SUITE  */
.image-preview-container {
  width: 50%;

  margin: 0 auto;

  border-radius: 20px;
}

.image-preview-container img {
  width: 100%;
  display: none;
  margin-bottom: 30px;
  height: 184px;
  width: 129px;
  object-fit: cover;
  position: absolute;
  top: 126px;
  left: 140px;
}
.image-preview-container input {
  display: none;
}

.image-preview-container label {
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 9px 30px 9px 30px;

  font-size: 16px;
  line-height: 19px;
  border: 0px solid #d9d9d9;
  border-radius: 25px;
  gap: 10px;
  cursor: pointer;
  background-color: #cbd6dc;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #306685;
}

/* .zone_bleu > * {
  display: none;
} */

/* ATTENTION A SUPPRIMER PAR LA SUITE  */

.zone_bleu {
  width: 420px;
  height: 184px;
  background: #e8f1f7;
  border-radius: 3px;
  margin-top: 36px;
}
.add_photo_in_modale_page2 {
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 9px 30px 9px 30px;

  font-size: 16px;
  line-height: 19px;
  border: 0px solid #d9d9d9;
  border-radius: 25px;
  gap: 10px;
  cursor: pointer;
  background-color: #cbd6dc;

  margin-left: 23%;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #306685;
}

/* experimentation */

.label-file {
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 9px 30px 9px 30px;

  font-size: 16px;
  line-height: 19px;
  border: 0px solid #d9d9d9;
  border-radius: 25px;
  gap: 10px;
  cursor: pointer;
  background-color: #cbd6dc;

  margin-left: 25%;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-right: 27%;
  color: #306685;

  display: none;
}
.label-file:hover {
  color: #25a5c4;
}

.input-file {
  display: none;
}

#myFile {
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 9px 30px 9px 30px;

  font-size: 16px;
  line-height: 19px;
  border: 0px solid #d9d9d9;
  border-radius: 25px;
  gap: 10px;
  cursor: pointer;
  background-color: #cbd6dc;

  margin-left: 23%;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #306685;
}
.hide_on_upload {
  display: none;
  visibility: hidden;
}
.format {
  display: flex;
  flex-direction: row;
  padding-top: 7px;
  margin-left: 34%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  /* identical to box height */
  text-align: center;
}

.adadad {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0px 0;
}

.titre_case {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
  padding-bottom: 10px;
}
#titre {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  height: 51px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  outline: none;
  color: #444444;
  border-style: hidden;
  padding-left: 20px;
}
.label_case {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 21px 0 10px 0;
  color: #3d3d3d;
}

#select {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  height: 51px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  outline: none;
  color: #444444;
  padding-left: 20px;
  border-style: hidden;
}

#valider {
  padding: 9px 10px 9px 10px;

  background: #a7a7a7;
  outline: none;
  border-style: hidden;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

/* section {
  margin: 50px;
} */

.liste a {
  text-align: end;
  text-transform: none;
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  white-space: pre;
  color: black;
  text-decoration: none;
  color: black;
}
.liste {
  text-align: end;
  text-transform: none;
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  white-space: pre;
  color: black;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.liste button {
  text-align: end;
  text-transform: none;
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  white-space: pre;
  color: black;
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: list-item;
  text-align: match-parent;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

/* Rajout par PJ */

.filtres {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.e:hover {
  background-color: #deebff;
}

.filter {
  border: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.quatre_filtres {
  display: flex;

  display: flex;
  flex-wrap: nowrap;
  /* width: 100%; */
  gap: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* .t {
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 9px 30px 9px 30px;

  font-size: 16px;
  line-height: 19px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  gap: 10px;
  cursor: pointer;
  background-color: #1d6154;
  font-family: "Syne";
  font-style: normal;
}

.e {
  position: relative;
  display: flex;
  flex-direction: row;
  color: #1d6154;
  padding: 9px 30px 9px 30px;

  font-size: 16px;
  line-height: 19px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  gap: 10px;
  cursor: pointer;
  background-color: white;
  font-family: "Syne";
  font-style: normal;
} */

.z {
  position: relative;
  display: flex;
  flex-direction: row;
  color: #1d6154;
  padding: 9px 30px 9px 30px;

  font-size: 16px;
  line-height: 19px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  gap: 10px;
  cursor: pointer;
  background-color: white;
  font-family: "Syne";
  font-style: normal;
}
.a {
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 9px 30px 9px 30px;

  font-size: 16px;
  line-height: 19px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  gap: 10px;
  cursor: pointer;
  background-color: #1d6154;
  font-family: "Syne";
  font-style: normal;
}

/* pour la modale */

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

#logOut:hover {
  color: #b1663c;
}
#logOut {
  padding: 0 10px;
  font-size: 1.2em;
  background-color: transparent;
  border: 0px solid #f2f2f2;
  font-family: "Work Sans";
  font-size: 16.8px;
  background-color: #fffef8;
}
.liste :hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 20px;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
  padding-right: 20px;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact {
  width: 50%;
  margin: auto;
  padding-top: 50px;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
